body {
    line-height: 1.5;
    background-color: #dddbdbe8;
}

a{
    color: #5c5a5a;
    text-decoration: none;
}

.content{
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid rgba(1,1,1,.5); */
    width: 80vmin;
    height: 50vmin;
    font-size: 1em;
}

table{
    margin: 0 auto;
    /* border: 1px solid rgba(1,1,1,.5); */
}

td{
    /* border: 1px solid rgba(1,1,1,.5); */
    
}